# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
ios/Flutter/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# IDEs
.idea/
.vscode/
*.iml

# Others
.DS_Store
*.log
*.swp
*.class
*.pyc
.history
